[submodule "themes/believe"]
	path = themes/believe
	url = https://github.com/th720309/hexo-theme-believe.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
